@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: gotham;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 3px;
}

@keyframes slide-down {
  from {
    opacity: 0;
    max-height: 0px;
  }
  to {
    opacity: 1;
    max-height: 1000px;
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    max-height: 1000px;
  }
  to {
    opacity: 0;
    max-height: 0px;
  }
}

@keyframes c-dance {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  20% {
    transform: rotate(0) scale(1.12);
    opacity: 1;
  }
  40% {
    transform: rotate(40deg) scale(1.14);
    opacity: 0.9;
  }
  60% {
    transform: rotate(-40deg) scale(1.14);
    opacity: 0.9;
  }
  80% {
    transform: rotate(0deg) scale(1.14);
    opacity: 0.9;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}
